<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

    <title>Ingles</title>
</head>

<body class="back-img">

    <div class="container center ">
        <div class="col col-xl-10 cont">
            <div class="card ancho cont" style="border-radius: 1rem;">
                <div class="text-center ">
                    <h2 style="font-size: 3.2rem;">INGLESITO</h2>
                    <p>Hecho para tus peques</p>
                </div>
                <div class="color" >
                    <p>

                    </p>

                </div>
                    <div class="card-body">
                        <!-- Start Form -->
                        <form action="/user/create" method="post" class="needs-validation" novalidate
                            autocomplete="off">
                            <!-- Start Input Name -->
                            <div class="form-group">
                                <label for="inputName">Nombre del niño</label>
                                <div>
                                    <input id="inputName" name="nombre" type="text" placeholder="Nombre(s)"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputApellidoP">Apellido Paterno</label>
                                <input type="text" class="form-control" id="inputApellidoP" name="paterno"
                                    placeholder="Apellido Paterno" required />
                                <small class="form-text text-muted">Escribe tu apellido paterno</small>
                            </div>
                            <div class="form-group">
                                <label for="inputApellidoM">Apellido Materno</label>
                                <input type="text" class="form-control" id="inputApellidoM" name="materno"
                                    placeholder="Apellido Materno" required />
                                <small class="form-text text-muted">Escribe tu apellido materno</small>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail">Correo</label>
                                <input type="email" class="form-control" id="inputEmail" name="email"
                                    placeholder="Introduzca su correo" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                    required />
                                <small class="form-text text-muted">No compartiremos tu correo con nadie</small>
                            </div>
                            
                            <div class="form-group">
                                <label for="pwd">Contraseña</label>
                                <input type="password" class="form-control" id="pwd" name="pwd" required />
                            </div>
                            <!-- End Input Telephone -->

                            <!-- Start Input Date , Start Time and End Time -->
                            <div class="form-row">
                                <!-- Start Input Date -->
                                <div class="form-group col-md-4">
                                    <label for="inputDate">Fecha de nacimiento</label>
                                    <input type="date" class="form-control" id="inputDate" name="date" required />
                                </div>
                            </div>

                            <!-- Start Submit Button -->
                            <button style="background-color: f50057;" class="btn btn-primary btn-block col" type="submit">INGRESAR</button>
                            <!-- End Submit Button -->
                        </form>
                        <!-- End Form -->
                    </div>
                    <!-- End Card Body -->
                </div>
                <!-- End Card -->


                <script>
                    // Example starter JavaScript for disabling form submissions if there are invalid fields
                    (function () {
                        'use strict';
                        window.addEventListener('load', function () {
                            // Fetch all the forms we want to apply custom Bootstrap validation styles to
                            var forms = document.getElementsByClassName('needs-validation');
                            // Loop over them and prevent submission
                            var validation = Array.prototype.filter.call(forms, function (form) {
                                form.addEventListener('submit', function (event) {
                                    if (form.checkValidity() === false) {
                                        event.preventDefault();
                                        event.stopPropagation();
                                    }
                                    form.classList.add('was-validated');
                                }, false);
                            });
                        }, false);
                    })();
                </script>
                <!-- End Scritp for Form -->

            </div>

</body>